@*@model IEnumerable<WebClinica.Models.Clinicas>*@
@model PagedList.IPagedList<WebClinica.Models.Clinicas>
@using PagedList.Mvc;

@{
    ViewBag.Title = "locales";
}

<h2>locales</h2>
 
@using (Html.BeginForm())
{
    <p>
        Busqueda de Clinica : @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<div style="width: 90%; margin : 0 auto; font-size:0.9em;">
    <table class="table">
        <tr>
            <th width="25%"> Clinica </th>
            <th width="20%">Decripcion</th>
            <th width="25%">Direccion</th>
            <th width="10%">Telefono </th>
            <th width="10%"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nom_cli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.des_cli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dir_cli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tel_cli)
                </td>
                <td>
                    @Html.ActionLink("Ver Mapa", "mapa", new { id = item.cod_cli })
                </td>
            </tr>
        }

    </table>

    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) Del @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("locales",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))



</div>