 
@{
    ViewBag.Title = "mapa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>mapa</h2>

<link rel='stylesheet' type='text/css' href='http://www.vaneco.com.pe/views/layout/default/css/popup11.css' />
<script type='text/javascript'
        src='http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false'>
</script>
<script type='text/javascript'>

    function initialize() {

        var latitud = '@ViewBag.Lat'; var longitud = '@ViewBag.Log';
        var latitudCen = '@ViewBag.Lat'; var longitudCen = '@ViewBag.Log';
        var latlng = new google.maps.LatLng(latitud, longitud);
        var latlngcenter = new google.maps.LatLng(latitudCen, longitudCen);
        var myOptions = { zoom: 16, center: latlngcenter, mapTypeId: google.maps.MapTypeId.ROADMAP  };

        var map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
        map.setTilt(45);
        /*Imagenes*/
        var image = '@Url.Content("~/images/cs.png")';
        var myLatLng = new google.maps.LatLng(latitud, longitud);
        /*Descripcion*/
        var contentString = "<div id='vent'> <b>@ViewBag.nom_cli </b>   </div>";
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: myLatLng, map: map, title: 'Ver Direcci&oacuten', icon: image
        });
        google.maps.event.addListener(marker, 'click', function () {  infowindow.open(map, marker); });
        infowindow.open(map, marker);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

 
    <div id='map_canvas' class="micolumns"></div>
    <div class="micolumns map_canvas_desc">
        <b>Nombre de la Clinica </b>: @ViewBag.nom_cli<br/>
        <b>Descripcion</b>: @ViewBag.descrip<br />
        <b>Telefono</b>: @ViewBag.tel_cli
</div>
 
 <style>

#map_canvas { border:5px inset #0099FF; width:  650px;  height: 400px; }
#vent{ font-size:12px; text-align:justify; }
.micolumns {
display:inline-block;
vertical-align:top;
     }
     .map_canvas_desc {
         margin-left:15px;
         border-radius:5px;
         -webkit-border-radius:5px;
         -moz-border-radius:5px;
         -o-border-radius:5px;
         border:1px inset #0099FF;
         padding:10px 15px;
         width:450px;
         min-height:300px;

     }

 </style>
 <p> @Html.ActionLink("Retornas a la Lista de Locales", "locales", "Home") </p>