@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">

        
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li> @Html.ActionLink("Cambia Clave", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }

    <br /><br /><br />
    <nav>
    <ul>
        <li> @Html.ActionLink("Lista de Mensajes", "Index", "Auth", routeValues: null, htmlAttributes: new { title = "Manage" }) </li>

        <li>
            <a href="#">Configuracion</a>
            <ul>
                <li>@Html.ActionLink("Admin Clinicas", "ListaClinicas", "Auth", routeValues: null, htmlAttributes: new { title = "Manage" }) </li>
                <li>@Html.ActionLink("Crear Cuentas", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            </ul>

        </li>
</ul></nav>
    }
    else
    {
    <ul class="nav navbar-nav navbar-right">

        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
    }
